<footer>
    <div class="footer-section">
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-watermark">
                    <h1>
                        CK Event Management
                    </h1>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="footer-widget">
                            <h5 class="footer-widget-title">
                                Quick Links
                            </h5>
                            <div class="footer-link">
                                <ul class="link-list">
                                    <li>
                                        <a class="footer-link">
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a class="footer-link">
                                            Events
                                        </a>
                                    </li>
                                    <li>
                                        <a class="footer-link">
                                            Speakers
                                        </a>
                                    </li>
                                    <li>
                                        <a class="footer-link">
                                            Gallery
                                        </a>
                                    </li>
                                    <li>
                                        <a class="footer-link">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 my-3 my-md-0">
                        <div class="footer-newsletter-wrapper text-center">
                            <h3>
                                Subscribe Our Newsletter
                            </h3>
                            <h5>
                                Don’t Miss Our Feature Update
                            </h5>
                            <form>
                                <div class="example-container mt-4">
                                    <mat-form-field>
                                        <input matInput placeholder="Simple placeholder" required>
                                    </mat-form-field>
                                </div>
                                <button class="btn ck-btn-solid mt-2">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="footer-widget">
                            <h5 class="footer-widget-title">
                                Contact
                            </h5>
                            <div class="footer-link">
                                <ul class="link-list">
                                    <li>
                                        <div class="footer-contact d-flex align-items-center pb-2">
                                            <i class="fa-regular fa-phone contact-icon"></i>
                                            <div class="contact-link">
                                                <a>
                                                    +91 98765 43210
                                                </a><br/>
                                                <a>
                                                    +91 98765 43210
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-contact d-flex align-items-center pb-2">
                                            <i class="fa-regular fa-envelope contact-icon"></i>
                                            <div class="contact-link">
                                                <a>
                                                    info@example.com
                                                </a><br/>
                                                <a>
                                                    contact@example.com
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-contact d-flex align-items-center pb-2">
                                            <i class="fa-regular fa-map-marker-alt contact-icon"></i>
                                            <div class="contact-link">
                                                <a>
                                                    101, Dakshin Gujarat, Surat, India - 395 009.
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6 col-12">
                        <div class="footer-copyright text-lg-start text-center">
                            <p>
                                Copyright 2024 CK Event Management
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="footer-logo text-lg-start text-center">
                            <h2>
                                <span>
                                    CK 
                                </span>
                                Event Management
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <ul class="d-flex footer-social-links justify-content-lg-end justify-content-center">
                            <li>
                                <a>
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>