<swiper-container effect="coverflow" grab-cursor="true" loop="true" class="slider-section" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide>
        <img src="../../../assets/images/slider-01.jpg" class="img-fluid w-100" loading="lazy" />
        <div class="content">
            <h1>
                Birthday Event
            </h1>
            <h6>
                CK Event Management
            </h6>
        </div>
    </swiper-slide>
    <swiper-slide>
        <img src="../../../assets/images/slider-02.jpg" class="img-fluid w-100" loading="lazy" />
        <div class="content">
            <h1>
                Reception Event
            </h1>
            <h6>
                CK Event Management
            </h6>
        </div>
    </swiper-slide>
    <swiper-slide>
        <img src="../../../assets/images/slider-03.jpg" class="img-fluid w-100" loading="lazy" />
        <div class="content">
            <h1>
                Ring Ceremony Event
            </h1>
            <h6>
                CK Event Management
            </h6>
        </div>
    </swiper-slide>
</swiper-container>