<nav class="navbar navbar-expand-lg bg-body-tertiary py-lg-0">
    <div class="container">
        <a class="navbar-brand" href="#">
            <span>CK</span> Event Management
        </a>
        <a class="navbar-toggler" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample">
            <i class="fa-regular fa-bars"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end align-items-center">
                <li class="nav-item me-3">
                    <a class="nav-link" routerLink="/home" [ngClass]="{'active': currentRoute === '/home'}">
                        Home
                        <span>CK</span>
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" routerLink="/about" [ngClass]="{'active': currentRoute === '/about'}">
                        About
                        <span>CK</span>
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" routerLink="/event-list" [ngClass]="{'active': currentRoute === '/event-list'}">
                        Events
                        <span>CK</span>
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" routerLink="/gallery" [ngClass]="{'active': currentRoute === '/gallery'}">
                        Gallery
                        <span>CK</span>
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" routerLink="/contact" [ngClass]="{'active': currentRoute === '/contact'}">
                        Contact
                        <span>CK</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title m-0" id="offcanvasExampleLabel">
            <span>
                CK
            </span>
            Event Management
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end align-items-center">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" [ngClass]="{'active': currentRoute === '/home'}">
                    Home
                    <span>CK</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about" [ngClass]="{'active': currentRoute === '/about'}">
                    About
                    <span>CK</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/event-list" [ngClass]="{'active': currentRoute === '/event-list'}">
                    Events
                    <span>CK</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/gallery" [ngClass]="{'active': currentRoute === '/gallery'}">
                    Gallery
                    <span>CK</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" [ngClass]="{'active': currentRoute === '/contact'}">
                    Contact
                    <span>CK</span>
                </a>
            </li>
        </ul>
    </div>
</div>